<div class="container">
    <div class="row" *ngIf="ad | async as oneAd" >
      <div class="col-md-6" style="margin-bottom: 10px">
        <div class='well'>
        <div><strong>Domain URL:</strong> {{oneAd.domain_url }}</div>
        <div><strong>Owner Email:</strong> {{oneAd.owner_email }}</div>
        <div><strong>Owner id:</strong> {{oneAd.owned_by }}</div>
        <div><strong>Current Lease:</strong> {{oneAd.current_lease }}</div>
        <div><strong>Country:</strong> {{oneAd.country}}</div>
        <div><strong>Limit Reserve:</strong> {{oneAd?.limit_reserve | currency:'USD'}}</div>
        <div><strong>Available:</strong> {{oneAd.available}}</div>
    </div>
    </div>
      <div class="col-md-6">
        <div class='well'>
            <div><strong>Ad image height:</strong> {{oneAd?.image_height }}</div>
            <div><strong>Ad image width:</strong> {{oneAd?.image_width }}</div>
            <div><strong>Image Size limit:</strong> {{oneAd?.image_size_limit}}</div>
            <div><strong>NSFW Score limit:</strong> {{oneAd?.nsfw_score_limit}}</div>
          </div>
      </div>
      <div class="col-md-12">
        <div class='well'>
            <div><strong>Sub-domain:</strong> {{oneAd?.sub_domain }}</div>
            <div><strong>Creation Date:</strong> {{oneAd?.creation_date }}</div>
            <div><strong>Fee:</strong> {{oneAd?.fee}}</div>
            <div><strong>Deomographic:</strong> {{oneAd?.demographic}}</div>
            <div><strong>Impression share 24 hour:</strong> {{oneAd?.impression_share_24_hour }}</div>
            <div><strong>Impressions 24 hour:</strong> {{oneAd?.impressions_24_hour}}</div>
            <div><strong>Clicks 24 hour:</strong> {{oneAd?.clicks_24_hour}}</div>
            <div><strong>Click Through Rate (CTR) 24 hour:</strong> {{oneAd?.ctr_24_hour}}</div>
            <div><strong>Agree with terms:</strong> {{oneAd?.terms}}</div>
        </div>
      </div>
      <div class='col-md-4'>
      <button class="btn btn-form" (click)="buyThisAd()">Buy This Ad</button>
      <p>ADMIN OR OWNER ONLY</p>
      <button class="btn btn-form" (click)="deleteThisAd()">Delete This Ad</button>
    </div>
    </div>
    <hr>
   
  </div>
  